.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0px;
  width: 500px;
  height: 600px;
  margin: 0 auto;
  background-image: url('images/floor.png');
  
  background-size: 10% 7%;
}

.cell {
  /*background-color: lightgray;*/
}

.player {
  background-image: url('images/player.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.exit {
  background-image: url('images/door.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.wall {
  background-image: url('images/wall.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Make the player div a square */
.player {
  position: relative;
}

/* Add a child element to the player div */
.player::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('player.png');
  background-size: contain;
  background-repeat: no-repeat;
}